
 body {
        background-color:Aqua
    }
    h1 {
		color: black;
        text-align: center;
        font-size: 30pt;
    }
    h2 {
        color:black
    }
    p {
        margin-left: 30px
    }

